#featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;

   .content {
    display: flex;
    flex-direction: column;
    align-self: auto;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 25px;
    @media (min-width: $breakForMd) {
      flex-direction: row;
      align-items: center;
    }

    .latest-holder {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      span {
        font-family: $contarell;
        color: $offWhite;
        background: $orange;
        font-size: 16px;
        text-align: center;
        padding: 10px 20px;
        z-index: 9;
        border-radius: 5px;
        transform: rotate(4deg);
        margin-bottom: -15px;
        text-transform: uppercase;
      }

      .video-holder {
        align-self: auto;
        width: 100%;
        @media (min-width: $breakForMd) {
          align-self: stretch;
        }

        iframe {
          border: 0px;
          width: 100%;
          height: 65vw;
          max-height: 480px;

          @media (min-width: $breakForMd) {

            height: 30vw
          }
        }
      }
    }
  }
}
