html {
  font-size: 14px;
}

body {
  margin: 0px;
  background-color: $offWhite;
  margin-bottom: 500px;
  background-image: url(http://localhost:8080/src/images/rocky-wall.png);
  background-color: #e9eae5;
}

.container {
  max-width: $maxWidth;
}