#playlists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: $breakForMd) {
      margin-top: 24px;
    }

    .playlist-item {
      max-width: 100%;
      box-sizing: border-box;
      padding: 10px 10px;
      @media (min-width: $breakForMd) {
        max-width: 50%;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: $orange;
        font-size: 20px;
                &:hover,
        &:focus {
          color: $teal;
        }

        .playlist-img {
          width: 100%;
        }

      }
    }
  }

  .extra {
    display: flex;
  }
}
