@font-face {
  font-family: "Cantarell";
  src: url("http://localhost:8080/src/fonts/Cantarell-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marketing";
  src: url("http://localhost:8080/src/fonts/MarketingScript.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThirstyScript";
  src: url("http://localhost:8080/src/fonts/ThirstyScriptMedium.otf");
  font-weight: normal;
  font-style: normal;
}

div.text-upper,
span.text-upper,
p.text-upper {
  text-transform: uppercase;
}

div.text-center,
span.text-center,
p.text-center {
  text-align: center;
}

div.font-primary,
span.font-primary,
p.font-primary {
  font-family: $fontPrimary;
}

div.font-fancy,
span.font-fancy,
p.font-fancy {
  font-family: $fontFancy;
}
