@font-face {
  font-family: "Cantarell";
  src: url("http://localhost:8080/src/fonts/Cantarell-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marketing";
  src: url("http://localhost:8080/src/fonts/MarketingScript.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThirstyScript";
  src: url("http://localhost:8080/src/fonts/ThirstyScriptMedium.otf");
  font-weight: normal;
  font-style: normal;
}

div.text-upper,
span.text-upper {
  text-transform: uppercase;
}

div.text-center,
span.text-center {
  text-align: center;
}

div.fontPrimary,
span.fontPrimary {
  font-family: $fontPrimary;
}

div.fontFancy,
span.fontFancy {
  font-family: $fontFancy;
}
