//colors
$offBlack: #333;
$offWhite: #e9eae5;
$lightTan: #eeddc9;
$orange: #DE582B;
$orangeDark: #b7410E;
$teal: #35676f;
$tealDark: #284b51;

//fonts
$contarell: "Cantarell", Calibri;
$marketing: "Marketing", Cursive;
$thirstyScript: "ThirstyScript", Cursive;

//layouts
$maxWidth: 1400px;



//Primary, secondary variables here so can easily trickle to other scss files
$fontPrimary: $contarell;
$fontFancy: $thirstyScript;
$textPrimary: $offBlack;
$textSecondary: $offWhite;
$textTertiary: $teal;